name: CD

on:
  push:
    branches:
      - main

permissions:
  contents: write
  packages: write

jobs:
  build-and-package:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Streamlit image
        run: docker build --tag streamlit-shipping:latest .

      - name: Export Docker image
        run: docker save streamlit-shipping:latest -o streamlit-shipping.tar

      - name: Upload deployable artifact
        uses: actions/upload-artifact@v4
        with:
          name: streamlit-shipping-image
          path: streamlit-shipping.tar

  deploy-to-hf:
    needs: build-and-package
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout repository (full history)
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to Hugging Face Space
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"

          # tambahkan remote Hugging Face
          git remote add hf https://vorddd:${HF_TOKEN}@huggingface.co/spaces/vorddd/MLOps-MidExam

          # langsung force-push HEAD ke main di HF (tanpa git pull)
          git push hf HEAD:main --force
